@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;800&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}

/* header section start  */

.header{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 52px;
}
.header-logo{
    display: flex;
    align-items: center;
}
.hd-text-1{
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 16px;
}
.hd-text-2{
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.header-menu ul{
    display: flex;
    list-style: none;
    
}
.header-menu ul li{
    padding-left: 44px;

}
.header-menu ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* hero-section start  */



.hero-section{
    max-width: 1170px;
    height:500px;
    margin: auto;
    border-radius: 16px;
    background-image: url("image/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    
}


.hero-content{
    text-align: center;
    padding-top: 55px;

 
}
.hct-text-1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}
.hct-text-2{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.hero-info{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 24px;

    border-radius: 8px;
    background: rgba(253, 253, 253, 0.3);
    max-width: 768px;
    height: auto;
    margin: auto;
    padding: 16px;
}
input[type=text],select{
    width: 170px;
    height: 52px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-btn{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 170px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
}



/* popular-tour section start  */


.popular-tour{
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.popular-tour-img img{
    width: 100%;
    height: auto;
}

.popular-tour-text{
    width: 50%;
}

.ptt-text-1{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.ptt-text-2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.popular-tour-text ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 10px;
}
.popular-tour-text ul{
    margin-bottom: 25px;
}

.p-btn{
    margin-top: 20px;
}



/* Destination section start  */

.Destination-text{
    text-align: center;
    margin-top: 100px;

}
.dn-text-1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.dn-text-2{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.Destination-img{
    display: flex;
    max-width: 1170px;
    margin: auto;
}
.des-2{
    position: relative;

}
.mar{
    margin-right: 25px;
}
.des-2 img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;

}    

.country{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.Destination-img-1{
    display: flex;
    max-width: 1170px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.des-3{
    position: relative;
    border-radius: 16px;

}
.country-1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.mar-1{
    margin-right: 25px;
    margin-left: 25px;
}
.des-3 img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}  


/* chooses section start  */


.choose-section{
    max-width: 1170px;
    display: flex;
    margin: auto;
    margin-top: 50px;

}
.choose-content{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 25px;
    padding: 32px 55px 20px 40px;

}
.choose-content-1{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px 20px 40px;

}
.choose-content-2{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 20px 40px;
    max-width: 570px;
    margin: auto;
    margin-top: 25px;
}
.cs-text-1{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cs-text-2{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}



/* discount section start  */


.discount{
    max-width: 1170px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-image: url("image/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.dis-1{
    display: flex;
    align-items: center;
}
.dis-2{
    display: flex;
    align-items: center;
    margin-right: 20px;
}